<div class="animate__animated animate__fadeIn">
    <h2>Por País</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-country-input (onEnter)="buscar($event)"></app-country-input>
        </div>
    </div>
    <hr>
    <div *ngIf="hasError" class="alert alert-danger">
        <span>No sé encontró ningún país con el nombre: <span class="bold">{{termino}}</span></span>
    </div>
    <div class="row">
        <div class="col">
            <app-country-table [countries]="countries"></app-country-table>
        </div>
    </div>
</div>