<div class="animate__animated animate__fadeIn">
    <h2>Por País</h2>
    <hr>
    <div class="row">
        <div class="col">
            <form (ngSubmit)="buscar()" autocomplete="off">
                <input 
                    type="text"
                    name="termino"
                    class="form-control"
                    [(ngModel)]="termino"
                    placeholder="Buscar país">
            </form>
        </div>
    </div>
    <hr>
    <div *ngIf="hasError" class="alert alert-danger">
        <span>No sé encontró ningún país con el nombre: <span class="bold">{{termino}}</span></span>
    </div>
    <div class="row">
        <div class="col">
            <table *ngIf="countries.length > 0" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Bandera</th>
                        <th>Nombre</th>
                        <th>Población</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td><img [src]="country.flag" [alt]="country.name" class="small-flag"></td>
                        <td>{{ country.name }}</td>
                        <td>{{ country.population | number }}</td>
                        <td>
                            <a [routerLink]="['/country', country.alpha2Code]">Ver</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>