<h2>Búsqueda</h2>
<hr>
<ul class="list-group">
    <li 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item c-pointer">
        Por País
    </li>
    <li 
        routerLink="capital"
        routerLinkActive="active"
        class="list-group-item c-pointer">
        Por Capital
    </li>
    <li 
        routerLink="region"
        routerLinkActive="active"
        class="list-group-item c-pointer">
        Por Región
    </li>
</ul>