/* You can add global styles to this file, and also import other style files */

.c-pointer {
    cursor: pointer !important;
}
.small-flag {
    width: 50px !important;
}
.bold {
    font-weight: 700 !important;
}
.sticky-30 {
    position: sticky;
    top: 30px;
}